# Borrador Facundo

In [2]:
#Importacion de librerias/módulos
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#Establezco la dirección del archivo
file_location='properatti.csv'

#Leo el data set
datos_crudos=pd.read_csv(file_location)

#Visualizo las primeras filas
display(datos_crudos.head(3))

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...

In [5]:
#primero hacemos drop de las columnas operation y country_name
datos= datos_crudos.drop(['Unnamed: 0','operation','country_name'], axis=1)

datos.head(3)

,property_type,place_name,place_with_parent_names,state_name,geonames_id,lat-lon,lat,lon,price,currency,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,-58.508839,62000.0,USD,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,-57.964330,150000.0,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,-58.522982,72000.0,USD,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...

In [6]:
datos.columns

Index(['property_type', 'place_name', 'place_with_parent_names', 'state_name',
       'geonames_id', 'lat-lon', 'lat', 'lon', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2',
       'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'floor',
       'rooms', 'expenses', 'properati_url', 'description', 'title',
       'image_thumbnail'],
      dtype='object')

In [7]:
print(datos)

       property_type       place_name  \
0                 PH        Mataderos
1          apartment         La Plata
2          apartment        Mataderos
3                 PH          Liniers
4          apartment           Centro
...              ...              ...
121215     apartment         Belgrano
121216         house           Beccar
121217     apartment    Villa Urquiza
121218     apartment      Plaza Colón
121219     apartment  Capital Federal

                                  place_with_parent_names  \
0                   |Argentina|Capital Federal|Mataderos|
1             |Argentina|Bs.As. G.B.A. Zona Sur|La Plata|
2                   |Argentina|Capital Federal|Mataderos|
3                     |Argentina|Capital Federal|Liniers|
4       |Argentina|Buenos Aires Costa Atlántica|Mar de...
...                                                   ...
121215               |Argentina|Capital Federal|Belgrano|
121216  |Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...
121217          |Argentina|Capital Federal|Villa Urquiza|
121218  |Argentina|Buenos Aires Costa Atlántica|Mar de...
121219                        |Argentina|Capital Federal|

                          state_name  geonames_id  \
0                    Capital Federal    3430787.0
1             Bs.As. G.B.A. Zona Sur    3432039.0
2                    Capital Federal    3430787.0
3                    Capital Federal    3431333.0
4       Buenos Aires Costa Atlántica    3435548.0
...                              ...          ...
121215               Capital Federal    3436077.0
121216      Bs.As. G.B.A. Zona Norte    3436080.0
121217               Capital Federal    3433775.0
121218  Buenos Aires Costa Atlántica          NaN
121219               Capital Federal    3433955.0

                              lat-lon        lat        lon     price  \
0             -34.6618237,-58.5088387 -34.661824 -58.508839   62000.0
1             -34.9038831,-57.9643295 -34.903883 -57.964330  150000.0
2             -34.6522615,-58.5229825 -34.652262 -58.522982   72000.0
3             -34.6477969,-58.5164244 -34.647797 -58.516424   95000.0
4             -38.0026256,-57.5494468 -38.002626 -57.549447   64000.0
...                               ...        ...        ...       ...
121215                            NaN        NaN        NaN  870000.0
121216                            NaN        NaN        NaN  498000.0
121217  -34.5706388726,-58.4755963355 -34.570639 -58.475596  131500.0
121218                            NaN        NaN        NaN   95900.0
121219                            NaN        NaN        NaN  129000.0

       currency  ...  surface_covered_in_m2  price_usd_per_m2  price_per_m2  \
0           USD  ...                   40.0       1127.272727   1550.000000
1           USD  ...                    NaN               NaN           NaN
2           USD  ...                   55.0       1309.090909   1309.090909
3           USD  ...                    NaN               NaN           NaN
4           USD  ...                   35.0       1828.571429   1828.571429
...         ...  ...                    ...               ...           ...
121215      USD  ...                   93.0       7699.115044   9354.838710
121216      USD  ...                  360.0       1383.333333   1383.333333
121217      USD  ...                   39.0       2858.695652   3371.794872
121218      USD  ...                   48.0       1997.916667   1997.916667
121219      USD  ...                   77.0       1675.324675   1675.324675

        floor  rooms  expenses  \
0         NaN    NaN       NaN
1         NaN    NaN       NaN
2         NaN    NaN       NaN
3         NaN    NaN       NaN
4         NaN    NaN       NaN
...       ...    ...       ...
121215    NaN    NaN   10000.0
121216    NaN    NaN       NaN
121217    NaN    NaN       NaN
121218    NaN    NaN       NaN
121219    NaN    NaN    3500.0

                                            properati_url  \
0       http://www.properati.com.ar/15bo8_venta_ph_mat...
1       http://www.properati.com.ar/15bob_venta_depart...
2       http://www.properati.com.ar/15bod_venta_depart...
3       http://www.properati.com.ar/15boh_venta_ph_lin...
4       http://www.properati.com.ar/15bok_venta_depart...
...                                                   ...
121215  http://www.properati.com.ar/1cja2_venta_depart...
121216  http://www.properati.com.ar/1cja6_venta_casa_b...
121217  http://www.properati.com.ar/1cja7_venta_depart...
121218  http://www.properati.com.ar/1cja8_venta_depart...
121219  http://www.properati.com.ar/1cjaa_venta_depart...

                                              description  \
0       2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...
1       Venta de departamento en décimo piso al frente...
2       2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...
3       PH 3 ambientes con patio. Hay 3 deptos en lote...
4       DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...
...                                                   ...
121215  TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecab...
121216  Excelente e impecable casa en Venta en Las Lom...
121217  VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...
121218  2 Amb al contrafrente,  luminoso. El departame...
121219  Departamento de 77 m2 apto profesional. Edific...

                                                    title  \
0                      2 AMB TIPO CASA SIN EXPENSAS EN PB
1       VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37   ...
2                2 AMB 3ER PISO CON ASCENSOR APTO CREDITO
3                            PH 3 amb. cfte. reciclado
4       DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...
...                                                   ...
121215         Torre Forum Alcorta- Impecable 3 ambientes
121216  Ruca Inmuebles | Venta | Lomas de San Isidro |...
121217  VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...
121218  2 amb. C/ dep. de servicio al contrafrente| Re...
121219         Departamento apto profesional en el Centro

                                          image_thumbnail
0       https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1       https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2       https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3       https://thumbs4.properati.com/3/DgIfX-85Mog5SP...
4       https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...
...                                                   ...
121215  https://thumbs4.properati.com/1/bjms0KnaAnlNoQ...
121216  https://thumbs4.properati.com/2/PCc3WuQDjpNZc4...
121217  https://thumbs4.properati.com/9/YAe_-2gRVykADP...
121218  https://thumbs4.properati.com/8/Q12PTvU6BQJ0ib...
121219  https://thumbs4.properati.com/8/mNEsnQWqB7joBF...

[121220 rows x 23 columns]

In [8]:
datos.isna().sum()

property_type                      0
place_name                        23
place_with_parent_names            0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            39328
surface_covered_in_m2          19907
price_usd_per_m2               52603
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
dtype: int64

In [12]:
#cantidad de nulos en precio
datos.price.isnull().sum()

20410

In [21]:
#porcentaje de nulos en precio
100*datos.price.isnull().sum()/datos.price.shape[0]

16.837155584886982

In [20]:
#porcentaje de nulos en precio aproximado
100*datos.price_aprox_usd.isnull().sum()/datos.price_aprox_usd.shape[0]

16.837155584886982

In [22]:
#porcentaje de nulos en superficie total m2
100*datos.surface_total_in_m2.isnull().sum()/datos.surface_total_in_m2.shape[0]

32.44349117307375

In [17]:
#porcentaje nulos de precio por metro cuadrado
100*datos.price_usd_per_m2.isnull().sum()/datos.price.shape[0]

43.394654347467416

In [30]:
precio_m2_imputado=datos.apply(lambda x: x['price']/x['surface_total_in_m2']  if x['price_usd_per_m2'] is np.NAN else x['price_usd_per_m2'], axis=1)

#precio_m2 = data.apply(lambda x: x['price_usd_per_m2'] if x['Landsize'] == 0 else x['Price'] / x['Landsize'], axis=1)

#data['Precio_m2']=data.apply(lambda x: np.NaN if ((x['Landsize']  is np.NaN) | (x['Landsize']==0)) else x['Price']/x['Landsize'], axis=1)

precio_m2_imputado.isnull().sum()/precio_m2_imputado.shape[0]

0.43394654347467415

In [ ]:
#Damos de bajo el currency
datos.currency.value_counts()

valor_de_cambio=datos.price_aprox_local_currency/datos.price_aprox_usd

serie_cambio=valor_de_cambio.value_counts()

print(serie_cambio)

mascara_cambio=serie_cambio==17.6445

print(serie_cambio.shape[0])

print(mascara_cambio.shape[0])

In [43]:
ubicacion = datos_crudos["place_with_parent_names"].str.split('|', expand=True) # Separo en varias columnas
ubicacion

,0,1,2,3,4,5,6
0,,Argentina,Capital Federal,Mataderos,,None,None
1,,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,,None,None
2,,Argentina,Capital Federal,Mataderos,,None,None
3,,Argentina,Capital Federal,Liniers,,None,None
4,,Argentina,Buenos Aires Costa Atlántica,Mar del Plata,Centro,,None
...,...,...,...,...,...,...,...
121215,,Argentina,Capital Federal,Belgrano,,None,None
121216,,Argentina,Bs.As. G.B.A. Zona Norte,San Isidro,Beccar,,None
121217,,Argentina,Capital Federal,Villa Urquiza,,None,None
121218,,Argentina,Buenos Aires Costa Atlántica,Mar del Plata,Plaza Colón,,None
121219,,Argentina,Capital Federal,,None,None,None

In [46]:
ubicacion.drop(0,axis=1,inplace=True)
ubicacion

                                   2              3            4     5
0                    Capital Federal      Mataderos               None
1             Bs.As. G.B.A. Zona Sur       La Plata               None
2                    Capital Federal      Mataderos               None
3                    Capital Federal        Liniers               None
4       Buenos Aires Costa Atlántica  Mar del Plata       Centro
...                              ...            ...          ...   ...
121215               Capital Federal       Belgrano               None
121216      Bs.As. G.B.A. Zona Norte     San Isidro       Beccar
121217               Capital Federal  Villa Urquiza               None
121218  Buenos Aires Costa Atlántica  Mar del Plata  Plaza Colón
121219               Capital Federal                        None  None

[121220 rows x 4 columns]

In [38]:
ubicacion.iloc[:,3].value_counts()

                             39892
Barrio Los Alisos              278
Barrio La Alameda               62
BarrioPortezuelo                54
Barrio Los Lagos                39
Barrio El Golf                  32
Enyoi                           17
Barrio Los Castores             14
QBay Yacht                      13
Barrio Las Glorietas            10
Barrio La Isla                  10
Islas del Canal                  6
Barrio Barrancas del Lago        4
Barrio Los Sauces                4
Barrio Cabos del Lago            3
Barrio Los Tilos                 1
Barrio El Yacht                  1
Name: 5, dtype: int64

In [30]:
ubicacion.iloc[:,1].value_counts()

Tigre               8983
Rosario             8504
Mar del Plata       7710
Córdoba             6606
                    4780
                    ...
Coronel Du Graty       1
Las Talitas            1
Serodino               1
Sunchales              1
Villa Paranacito       1
Name: 3, Length: 539, dtype: int64

In [31]:
ubicacion.iloc[:,2].value_counts()

                          76023
Nordelta                   3863
La Plata                   1767
Olivos                     1590
Lomas de Zamora            1253
                          ...
Barrio San Benito             1
Las Chacras                   1
Sierras Bayas                 1
Balneario San Cayetano        1
Ramallo                       1
Name: 4, Length: 568, dtype: int64

In [47]:
ubicacion.columns=['provincia','ciudad','barrio1','barrio2']

In [50]:
ubicacion

prueba_barrio=ubicacion.apply(lambda x: x['ciudad'] if x['provincia'] =='Capital Federal' else x['barrio1'],axis=1)

#precio_m2_imputado=datos.apply(lambda x: x['price']/x['surface_total_in_m2']  if x['price_usd_per_m2'] is np.NAN else x['price_usd_per_m2'], axis=1)
prueba_barrio

0             Mataderos
1
2             Mataderos
3               Liniers
4                Centro
              ...
121215         Belgrano
121216           Beccar
121217    Villa Urquiza
121218      Plaza Colón
121219
Length: 121220, dtype: object

In [51]:
ubicacion['barrio3']=prueba_barrio

In [53]:
ubicacion['barrio3'].value_counts()

                                       47499
Palermo                                 4083
Nordelta                                3863
Belgrano                                2992
Caballito                               2273
                                       ...
Laguna de los Padres                       1
Barrio San Benito                          1
Las Chacras                                1
Alfar                                      1
Barrio Cerrado "El Casco de Moreno"        1
Name: barrio3, Length: 618, dtype: int64

In [54]:
ciudad_limpia=ubicacion.apply(lambda x: x['provincia'] if x['provincia'] =='Capital Federal' else x['ciudad'],axis=1)

In [55]:
ciudad_limpia

0         Capital Federal
1                La Plata
2         Capital Federal
3         Capital Federal
4           Mar del Plata
               ...
121215    Capital Federal
121216         San Isidro
121217    Capital Federal
121218      Mar del Plata
121219    Capital Federal
Length: 121220, dtype: object

In [56]:
ubicacion['ciudad_limpia']=ciudad_limpia

In [58]:
ubicacion_limpia = ubicacion

In [59]:
ubicacion_limpia['ciudad']=ciudad_limpia

In [60]:
ubicacion_limpia['barrio']=prueba_barrio

In [62]:
ubicacion_limpia.drop('barrio3',axis=1,inplace=True)

In [64]:
ubicacion_limpia.drop('barrio1',axis=1,inplace=True)
ubicacion_limpia

,provincia,ciudad,barrio2,ciudad_limpia,barrio
0,Capital Federal,Capital Federal,None,Capital Federal,Mataderos
1,Bs.As. G.B.A. Zona Sur,La Plata,None,La Plata,
2,Capital Federal,Capital Federal,None,Capital Federal,Mataderos
3,Capital Federal,Capital Federal,None,Capital Federal,Liniers
4,Buenos Aires Costa Atlántica,Mar del Plata,,Mar del Plata,Centro
...,...,...,...,...,...
121215,Capital Federal,Capital Federal,None,Capital Federal,Belgrano
121216,Bs.As. G.B.A. Zona Norte,San Isidro,,San Isidro,Beccar
121217,Capital Federal,Capital Federal,None,Capital Federal,Villa Urquiza
121218,Buenos Aires Costa Atlántica,Mar del Plata,,Mar del Plata,Plaza Colón
121219,Capital Federal,Capital Federal,None,Capital Federal,

In [65]:
ubicacion_limpia.drop('ciudad_limpia',axis=1,inplace=True)
ubicacion_limpia

                           provincia           ciudad barrio2         barrio
0                    Capital Federal  Capital Federal    None      Mataderos
1             Bs.As. G.B.A. Zona Sur         La Plata    None
2                    Capital Federal  Capital Federal    None      Mataderos
3                    Capital Federal  Capital Federal    None        Liniers
4       Buenos Aires Costa Atlántica    Mar del Plata                 Centro
...                              ...              ...     ...            ...
121215               Capital Federal  Capital Federal    None       Belgrano
121216      Bs.As. G.B.A. Zona Norte       San Isidro                 Beccar
121217               Capital Federal  Capital Federal    None  Villa Urquiza
121218  Buenos Aires Costa Atlántica    Mar del Plata            Plaza Colón
121219               Capital Federal  Capital Federal    None

[121220 rows x 4 columns]

In [66]:
barrio_2=ubicacion_limpia['barrio2']

In [67]:
ubicacion_limpia.drop('barrio2',axis=1,inplace=True)
ubicacion_limpia

                           provincia           ciudad         barrio
0                    Capital Federal  Capital Federal      Mataderos
1             Bs.As. G.B.A. Zona Sur         La Plata
2                    Capital Federal  Capital Federal      Mataderos
3                    Capital Federal  Capital Federal        Liniers
4       Buenos Aires Costa Atlántica    Mar del Plata         Centro
...                              ...              ...            ...
121215               Capital Federal  Capital Federal       Belgrano
121216      Bs.As. G.B.A. Zona Norte       San Isidro         Beccar
121217               Capital Federal  Capital Federal  Villa Urquiza
121218  Buenos Aires Costa Atlántica    Mar del Plata    Plaza Colón
121219               Capital Federal  Capital Federal

[121220 rows x 3 columns]

In [68]:
ubicacion_limpia['barrio_2']=barrio_2

In [72]:
ubicacion_limpia.sample(20)

,provincia,ciudad,barrio,barrio_2
117144,Córdoba,Córdoba,,None
51941,Bs.As. G.B.A. Zona Norte,Tigre,Solares del Talar,
20565,Capital Federal,Capital Federal,Balvanera,None
98468,Capital Federal,Capital Federal,Saavedra,None
96822,Capital Federal,Capital Federal,Palermo,
102126,Buenos Aires Costa Atlántica,Mar del Plata,,None
24301,Santa Fe,Funes,,None
86872,Bs.As. G.B.A. Zona Sur,Almirante Brown,Adrogué,
113640,Santa Fe,Rosario,,None
1256,Bs.As. G.B.A. Zona Norte,Tigre,Nordelta,
18718,Bs.As. G.B.A. Zona Norte,San Isidro,Martínez,
97490,Capital Federal,Capital Federal,Floresta,None
69415,Bs.As. G.B.A. Zona Sur,Almirante Brown,Adrogué,
2584,Córdoba,Córdoba,,None
43364,Santa Fe,Rosario,,None
46745,Bs.As. G.B.A. Zona Norte,Tigre,,None
12806,Buenos Aires Costa Atlántica,Mar del Plata,,None
1476,Córdoba,Córdoba,,None
28593,Buenos Aires Costa Atlántica,Mar del Plata,,None
70758,Capital Federal,Capital Federal,,None

In [73]:
barrio_2.value_counts()

                             39892
Barrio Los Alisos              278
Barrio La Alameda               62
BarrioPortezuelo                54
Barrio Los Lagos                39
Barrio El Golf                  32
Enyoi                           17
Barrio Los Castores             14
QBay Yacht                      13
Barrio Las Glorietas            10
Barrio La Isla                  10
Islas del Canal                  6
Barrio Barrancas del Lago        4
Barrio Los Sauces                4
Barrio Cabos del Lago            3
Barrio Los Tilos                 1
Barrio El Yacht                  1
Name: barrio2, dtype: int64

In [5]:
pais = ubicacion.iloc[:, 1] # Creamos la columna Pais
pais

0         Argentina
1         Argentina
2         Argentina
3         Argentina
4         Argentina
            ...
121215    Argentina
121216    Argentina
121217    Argentina
121218    Argentina
121219    Argentina
Name: 1, Length: 121220, dtype: object

In [6]:
ciudad = ubicacion.iloc[:, 2] # Creamos la columna Ciudad
ciudad

0                      Capital Federal
1               Bs.As. G.B.A. Zona Sur
2                      Capital Federal
3                      Capital Federal
4         Buenos Aires Costa Atlántica
                      ...
121215                 Capital Federal
121216        Bs.As. G.B.A. Zona Norte
121217                 Capital Federal
121218    Buenos Aires Costa Atlántica
121219                 Capital Federal
Name: 2, Length: 121220, dtype: object

In [7]:
barrio = ubicacion.iloc[:,3] # Creamos la columna barrio
barrio

0             Mataderos
1              La Plata
2             Mataderos
3               Liniers
4         Mar del Plata
              ...
121215         Belgrano
121216       San Isidro
121217    Villa Urquiza
121218    Mar del Plata
121219
Name: 3, Length: 121220, dtype: object