In [46]:
import matplotlib   
import matplotlib.pyplot as plt
import geopandas as gpd
import pandas as pd
import plotly.express as px

In [47]:
file_location = 'properatti.csv'

df = pd.read_csv(file_location)

In [48]:
df

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...
4,4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,...,35.0,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121215,121215,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,NaN,NaN,...,93.0,7699.115044,9354.838710,NaN,NaN,10000.0,http://www.properati.com.ar/1cja2_venta_depart...,TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecab...,Torre Forum Alcorta- Impecable 3 ambientes,https://thumbs4.properati.com/1/bjms0KnaAnlNoQ...
121216,121216,sell,house,Beccar,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Argentina,Bs.As. G.B.A. Zona Norte,3436080.0,NaN,NaN,...,360.0,1383.333333,1383.333333,NaN,NaN,NaN,http://www.properati.com.ar/1cja6_venta_casa_b...,Excelente e impecable casa en Venta en Las Lom...,Ruca Inmuebles | Venta | Lomas de San Isidro |...,https://thumbs4.properati.com/2/PCc3WuQDjpNZc4...
121217,121217,sell,apartment,Villa Urquiza,|Argentina|Capital Federal|Villa Urquiza|,Argentina,Capital Federal,3433775.0,"-34.5706388726,-58.4755963355",-34.570639,...,39.0,2858.695652,3371.794872,NaN,NaN,NaN,http://www.properati.com.ar/1cja7_venta_depart...,VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...,VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...,https://thumbs4.properati.com/9/YAe_-2gRVykADP...
121218,121218,sell,apartment,Plaza Colón,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,NaN,NaN,NaN,...,48.0,1997.916667,1997.916667,NaN,NaN,NaN,http://www.properati.com.ar/1cja8_venta_depart...,"2 Amb al contrafrente, luminoso. El departame...",2 amb. C/ dep. de servicio al contrafrente| Re...,https://thumbs4.properati.com/8/Q12PTvU6BQJ0ib...
121219,121219,sell,apartment,Capital Federal,|Argentina|Capital Federal|,Argentina,Capital Federal,3433955.0,NaN,NaN,...,77.0,1675.324675,1675.324675,NaN,NaN,3500.0,http://www.properati.com.ar/1cjaa_venta_depart...,Departamento de 77 m2 apto profesional. Edific...,Departamento apto profesional en el Centro,https://thumbs4.properati.com/8/mNEsnQWqB7joBF...

In [49]:
tipo = df.iloc[:, 2]
lat = df.iloc[:, 9]
lon = df.iloc[:, 10]
precio = df.iloc[:, 17]

kepler = pd.concat([tipo, lat, lon, precio], axis=1)

In [50]:
kepler.isna().sum()

property_type           0
lat                 51550
lon                 51550
price_usd_per_m2    52603
dtype: int64

In [51]:
kepler = kepler.dropna()

In [52]:
kepler.isna().sum()

property_type       0
lat                 0
lon                 0
price_usd_per_m2    0
dtype: int64

In [53]:
n = len(pd.unique(kepler['property_type'])) # Contar cuantos tipos de propiedades hay en el dataset
  
print(n)

kepler['property_type'].value_counts()

4

apartment    26009
house        10423
PH            2283
store         1235
Name: property_type, dtype: int64

In [54]:
PH = kepler['property_type'] == 'PH'

PH = kepler[PH]

PH

       property_type        lat        lon  price_usd_per_m2
0                 PH -34.661824 -58.508839       1127.272727
6                 PH -34.532957 -58.521782       1226.415094
16                PH -34.652356 -58.501624       1707.142857
34                PH -34.527253 -58.512877        982.558140
46                PH -34.451855 -58.903567       1178.571429
...              ...        ...        ...               ...
120152            PH -34.592628 -58.546715        750.000000
120158            PH -38.003681 -57.570381       1115.384615
120178            PH -37.984712 -57.562793       1387.037037
120182            PH -38.011246 -57.543782       1454.545455
120202            PH -38.030114 -57.574442        714.285714

[2283 rows x 4 columns]

In [55]:
apartment  = kepler['property_type'] == 'apartment'

apartment = kepler[apartment]

apartment

       property_type        lat        lon  price_usd_per_m2
2          apartment -34.652262 -58.522982       1309.090909
4          apartment -38.002626 -57.549447       1828.571429
7          apartment -34.559873 -58.443362       3066.666667
8          apartment -34.559873 -58.443362       3000.000000
12         apartment -34.486019 -58.503814       2948.717949
...              ...        ...        ...               ...
121153     apartment -34.599214 -58.402519       1813.186813
121158     apartment -34.587425 -58.397372       3750.000000
121160     apartment -34.563685 -58.442683       2611.464968
121209     apartment -34.563685 -58.442683       2611.464968
121217     apartment -34.570639 -58.475596       2858.695652

[26009 rows x 4 columns]

In [56]:
house  = kepler['property_type'] == 'house'

house = kepler[house]

house

       property_type        lat        lon  price_usd_per_m2
10             house -31.420083 -64.188776         46.235139
15             house -34.587911 -58.698783       1524.390244
18             house -34.425087 -58.579659       2111.111111
22             house -34.650116 -58.966034       1450.000000
26             house -34.364092 -58.689735       1152.173913
...              ...        ...        ...               ...
120193         house -38.064047 -57.552241        584.795322
120200         house -38.023796 -57.573495        895.000000
120201         house -38.101714 -57.569597        450.000000
120206         house -37.837561 -58.259803        192.307692
121057         house -34.636524 -58.429429       1300.813008

[10423 rows x 4 columns]

In [57]:
store  = kepler['property_type'] == 'store'

store = kepler[store]

store

       property_type        lat        lon  price_usd_per_m2
57             store -34.563972 -58.456535       8333.333333
204            store -34.606297 -58.392189       2864.077670
215            store -34.590181 -58.449152       2187.500000
370            store -34.595967 -58.409774       4212.121212
555            store -34.624470 -58.371174       2186.666667
...              ...        ...        ...               ...
119804         store -34.612791 -58.378084       2372.881356
119805         store -34.627534 -58.428549       1055.408971
119987         store -34.602341 -58.376595       6285.714286
120149         store -38.010243 -57.545775       1580.000000
121125         store -34.637014 -58.433177        521.091811

[1235 rows x 4 columns]

In [58]:
import requests
from keplergl import KeplerGl

#PH

In [59]:
#Seleccionar únicamente latitud y longitud y pasarlas a formato númerico
PH1 = PH[["lon", "lat"]]

PH1 = PH1.apply(pd.to_numeric)

mapa_PH = KeplerGl(height=800, data={"PH":PH},show_docs=False)

mapa_PH

KeplerGl(data={'PH':        property_type        lat        lon  price_usd_per_m2
0                 PH -34.661…

In [60]:
PH1.to_csv('mapa_PH.csv')

#Tiendas

In [61]:
#Seleccionar únicamente latitud y longitud y pasarlas a formato númerico
store1 = store[["lon", "lat"]]

store1 = store1.apply(pd.to_numeric)

mapa_store = KeplerGl(height=800, data={"store":store},show_docs=False)

mapa_store

KeplerGl(data={'store':        property_type        lat        lon  price_usd_per_m2
57             store -34.…

In [62]:
store.to_csv('mapa_store.csv')

#Casas

In [63]:
#Seleccionar únicamente latitud y longitud y pasarlas a formato númerico
house1 = house[["lon", "lat"]]

house1 = house1.apply(pd.to_numeric)

mapa_house = KeplerGl(height=800, data={"house":house},show_docs=False)

mapa_house

KeplerGl(data={'house':        property_type        lat        lon  price_usd_per_m2
10             house -31.…

In [64]:
house.to_csv('mapa_house.csv')

#Departamentos

In [65]:
#Seleccionar únicamente latitud y longitud y pasarlas a formato númerico
apartment1 = apartment[["lon", "lat"]]

apartment1 = apartment1.apply(pd.to_numeric)

mapa_apartment = KeplerGl(height=800, data={"apartment":apartment},show_docs=False)

mapa_apartment

KeplerGl(data={'apartment':        property_type        lat        lon  price_usd_per_m2
2          apartment …

In [66]:
apartment.to_csv('mapa_apartment.csv')